In [4]:
import pandas as pd

# URL 데이터
example_dict = {"이름": ["naver", "google", "우체국", "10x10", "통계청"],
                "URL" : ["https://www.naver.com/", 
                         "https://www.google.com/",
                         "https://www.epost.go.kr/",
                         "https://www.10x10.co.kr/",
                         "https://kostat.go.kr/portal/korea/index.action"]}

url_df = pd.DataFrame(example_dict)
display(url_df)

       이름                                             URL
0   naver                          https://www.naver.com/
1  google                         https://www.google.com/
2     우체국                        https://www.epost.go.kr/
3   10x10                        https://www.10x10.co.kr/
4     통계청  https://kostat.go.kr/portal/korea/index.action

In [6]:
url_df['URL'].str.count('.')

0    22
1    23
2    24
3    24
4    46
Name: URL, dtype: int64

In [7]:
url_df['URL'].str.count('\.')

0    2
1    2
2    3
3    3
4    3
Name: URL, dtype: int64

In [8]:
url_df['URL'].str.count('[.]')

0    2
1    2
2    3
3    3
4    3
Name: URL, dtype: int64